<!doctype html>
<html>
<head>
    <title>Mood Board</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>&#128532 &#128515 What's the Vibe &#128545 &#128529</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-md-3">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>User</strong>: <%= user._id %><br>
                        <strong>User Name</strong>: <%= user.local.email %><br>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-md-7">
          <button id="vibe-check">Check the Vibe</button>
          <div id="the-vibe"></div>
          <h3>How are you feeling today?</h3>
          <ul class="messages card-body">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="mood-post">
              <p class="moods mood-icon"><%= messages[i].mood %></p>
              <p class="moods"><%= messages[i].msg %></p>
              <!-- <p><%= messages[i].liked %></p> -->
              <p><i class="fa fa-trash" aria-hidden="true"></i></p>
            </li>
          <% } %>
          </ul>

          <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/mood-post" method="POST">
            <div>
              <input type="radio" name="mood" id="sad" value="&#128532">
              <label for="sad">Sad</label>

              <input type="radio" name="mood" id="happy" value="&#128515">
              <label for="happy">Happy</label>

              <input type="radio" name="mood" id="angry" value="&#128545">
              <label for="angry">Angry</label>

              <input type="radio" name="mood" id="meh" value="&#128529">
              <label for="meh">Meh</label>
            </div>

            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
